MYKEYS_COMPOSE_PROJECT_NAME=mykeys
MYKEYS_DOCKER_NETWORK=mykeys_private

MYKEYS_WEB_PORT=43110
MYKEYS_CORE_API_PORT=43120
MYKEYS_PAYMENT_API_PORT=43121
MYKEYS_NOTIFICATION_API_PORT=43122

MYKEYS_POSTGRES_IMAGE=postgres:18-alpine
MYKEYS_POSTGRES_PORT=43130
MYKEYS_POSTGRES_DB=mykeys
MYKEYS_POSTGRES_USER=mykeys
MYKEYS_POSTGRES_AUTH_METHOD=trust
MYKEYS_POSTGRES_DATA_VOLUME=mykeys_postgres_data

MYKEYS_REDIS_IMAGE=redis:8.10-alpine
MYKEYS_REDIS_PORT=43140
MYKEYS_REDIS_DATA_VOLUME=mykeys_redis_data

MYKEYS_MAILPIT_IMAGE=axllent/mailpit:v1.30.7
MYKEYS_MAILPIT_MAX_MESSAGES=500
MYKEYS_MAIL_SMTP_PORT=43150
MYKEYS_MAIL_UI_PORT=43151

MYKEYS_MINIO_PORT=43160
MYKEYS_MINIO_CONSOLE_PORT=43161
